@use '../utils/'as u;

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: .5rem;
    @include u.media(tablet, desktop) {
        flex-direction: row;
    }
}

.btn {
    @include u.typography(
        $fs: u.$fs-200,
        $fw: u.$fw-bold,
        $lh: u.$lh-300,
        $clr: u.$clr-neutral-100
    );
    border-radius: 100vmax;
    border: none;
    @include u.btn-colors(u.$btn-colors);
    @include u.btn-padding(u.$btn-padding);
}
