@use '../utils/' as u;

.hero {
    width: 100%;
    height: 100%;
    object-fit: contain;
    &-right {
        grid-area: hero-r;
        margin-left: auto;
    }
    &-left {
        grid-area: hero-l;
    }
}

.cta {
    grid-area: cta;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    max-width: 42ch;
    @include u.tablet {
        max-width: 55ch;
    }
    @include u.desktop {
        max-width: 67ch;
    }
    
    margin-inline: auto;
    @include u.pm-block(margin, $top: 3rem, $bottom: 0, 
                                $tab-top: 4.5rem, 
                                $desk-top: 2.9375rem);
    &__title {
        max-width: 10ch;
        @include u.typography(
            $fs: u.$fs-500,
            $fw: u.$fw-bold,
            $lh: u.$lh-600,
            $clr: u.$clr-neutral-900,
            //respondive args
            $desk-fs: u.$fs-900,
            $desk-lh: u.$lh-900,
            $tab-fs: u.$fs-700,
            $tab-lh: u.$lh-700
        )
    }
    &__body {
        @include u.typography (
            $fs: u.$fs-200,
            $fw: u.$fw-body,
            $lh: u.$lh-300,
            $clr: u.$clr-neutral-500,
            // responsive args
            $desk-fs: u.$fs-300,
        )
    }
}

.cards {
    display: grid;
    grid-template-areas: 
                "img-1 img-2"
                "img-3 img-4";
    gap: 1.5rem;
    margin-inline: 1.5rem;
    @include u.media(tablet, desktop) {
        grid-template-areas: 
                "img-1 img-2 img-3 img-4";
    }
    @include u.tablet {
        margin-inline: 2.5rem;
        gap: 0.6875rem;
    }
    @include u.desktop {
        margin-inline: 10.3125rem;
        gap: 1.875rem;
    }
}

.infos {
    @include u.pm-block(margin, $top: 4rem, $bottom: 0,
                                $tab-top: 3rem);
    max-width: 40ch;
    text-align: center;
    @include u.tablet {
        max-width: 72ch;
    }
    @include u.desktop {
        max-width: 65ch;
    }
    &__heading {
        @include u.typography(
                    $fs: u.$fs-200,
                    $fw: u.$fw-bold,
                    $lh: u.$lh-300,
                    $clr: u.$clr-primary-500
        );
        letter-spacing: 4px;
    }
    &__title {
        @include u.typography(
                    $fs: u.$fs-400,
                    $fw: u.$fw-bold,
                    $lh: u.$lh-400,
                    $clr: u.$clr-neutral-900,
                    // responsive typos
                    $tab-fs: u.$fs-500,
                    $tab-lh: u.$lh-600,
                    $desk-fs: u.$fs-500,
                    $desk-lh: u.$lh-600
        );
        @include u.pm-block(padding, $top: 1.5rem, $bottom: 2rem,
                                     $tab-top: 1rem,
                                     $desk-top: 1rem);
        max-width: 15ch;
    }
    &__body {
        @include u.typography(
                    $fs: u.$fs-200,
                    $fw: u.$fw-body,
                    $lh: u.$lh-300,
                    $clr: u.$clr-neutral-500,
                    // responsive typos
                    $desk-fs: u.$fs-300
        );
    }
}