// font family
$ff-primary: 'Red Hat Display', sans-serif;

// font-sizes
$fs-900: 4rem; // 64px
$fs-700: 3rem; // 48px
$fs-500: 2.5rem; // 40 px
$fs-400: 2rem; // 32px
$fs-300: 1.125rem; // 18px
$fs-200: 1rem; // 16px

// font-weight
$fw-bold: 900;
$fw-body: 500;

//line-height
$lh-900: 4rem; // 64px
$lh-700: 3rem; // 48px
$lh-600: 2.75rem; // 44px
$lh-400: 2.25rem; // 36px
$lh-300: 1.625rem; // 26px

// colors
$clr-primary-800: hsl(268, 34%, 53%);
$clr-primary-500: hsl(192, 37%, 48%);
$clr-primary-400: hsla(193, 40%, 40%, 0.9);

$clr-neutral-900: hsl(240, 21%, 20%);
$clr-neutral-500: hsl(240, 10%, 57%);
$clr-neutral-100: hsl(0, 0%, 98%);

$clr-accent-800: hsl(268, 100%, 86%);
$clr-accent-500: hsl(192, 90%, 77%);

// buttons stuff
$btn-colors: (
    "purple": (
        'primary': $clr-primary-800,
        'accent': $clr-accent-800),
    "blue": (
        'primary': $clr-primary-500,
        'accent': $clr-accent-500)
);

$btn-padding: (
    "big": 1em 2.5em,
    "small": 1em 1.875em
);

// breakpoints
$desktop: 1100px;
$tablet: 768px;